.chart {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
  padding: var(--mantine-spacing-md);
  border: 1px solid var(--f-border-light);
  border-radius: var(--mantine-radius-md);
}

.title {
  font-weight: 400;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerText {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xxs);
}

.description {
  color: var(--f-text-dimmed);
}

.chartContainer {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}